@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    color: #EFE1C4;
}
/* Custom Scrollbar for better aesthetics */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #18181B; 
}
::-webkit-scrollbar-thumb {
    background: #F97316; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ea580c; 
}